<div class="content-ticket">
	<div> INGRESA EL CÓDIGO DE TU TICKET DE COMPRA: </div>
	<%= form_for(@entry, :html=> {:id => "entry-form"}, :remote => true) do |f| %>
	  <% if @entry.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>
	      <ul>
	      <% @entry.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <div class="field">
	    <%= f.hidden_field :user_uid, :value => current_user.uid %>
	  </div>
	  <div class="field">
	    <%= f.text_field :ticket_number, :class => "ticket-field" %>
	  </div>
	  <div class="ticket-number">
	    <%= f.submit "", :id => 'ticket-btn'%>
	  </div>
	<% end %>
</div>
<div class="content-establecimientos">
	<div class="lista-establecimientos">
		<div>ESTABLECIMIENTOS PARTICIPANTES:</div>
	</div>
	<div class="ticket-div">
		<div class="ticket-img"></div>
	</div>
</div>