<% content_for :head_style do %>
  <%= stylesheet_link_tag "index" %>
<% end %>
<% content_for :head_script do %>
  <%= javascript_include_tag "index" %>
<% end %>
<div id="fb-root"></div>
<section id="section-fan">
  <article id="section-fan-header"></article>
  <article id="section-fan-content">
    <div class="content">
      <div class="youtube-content">
        <iframe type="text/html" width="100%" height="100%" src="http://www.youtube.com/embed/khIUitEyCOE" allowfullscreen frameborder="0">
        </iframe>
      </div>
      <div class="participar-div">
        <%= submit_tag '', :id => "participar-btn"%>
      </div>
    </div>
  </article>

</section>

<section id="section-no-fan">
  <article id="section-fan-header"></article>
  <div class="no-fan-div"></div>
</section>

<div id="ruby-values" data-signed-request="<%= @signed_request %>" data-is-fan="<%= @is_fan%>">
